.annotatedText {
    height: 225px;
    width: 100%;
}

.select2-container, .select2-search__field {
    width: 100% !important;
}

.rtl {
    text-align: right;
}

.select2-selection__choice {
    display: inline-block;
    padding: 0 8px;
    margin-bottom: 2px;
    line-height: 1.6;
    font-weight: bold;
    background-color: rgb(230, 230, 230);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

.select2-search__field {
    padding: 4px 8px !important;
}

.select2-results__option {
    font-size: 12px !important;
}

.saveAnnotationAlert {
    margin-top: 30px;
    display: none;
}

.annotateTextWell {
    margin-top: 25px;
}

.annotateTextLabel {
    margin-bottom: 20px;
}

.error {
    display: none;
}

.modal-error {
    margin-left: 10px;
    margin-right: 10px;
}

.noResults {
    display: none;
}

.loadingSpinner {
    display: none;
}

.select2-dropdown--below {
    z-index: 10000;
}

.errorMessage {
    display: none;
    margin-top: 40px;
    width: 68%;
}


