.annotatedText{
  height: 225px;
}

.select2-container,.select2-search__field {
    width: 100%!important;
}

.rtl{
  text-align: right;
}

.select2-selection__choice {
    display: inline-block;
    padding: 0 8px;
    margin-bottom: 2px;
    line-height: 1.6;
    font-weight: bold;
    background-color: rgb(230, 230, 230);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

.select2-search__field {
    padding: 4px 8px!important;
}

.select2-results__option {
    font-size: 12px!important;
}


.saveAnnotationAlert{
    margin-top: 10px;
}
