{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.2/jquery.min.js"></script>
    <script src="{% static "js/underscore/underscore.js" %}"></script>
    <script src="{% static "js/annotator/utils.js" %}"></script>
    <script src="{% static "js/annotator/annotator-full.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/annotator/annotator.css" %}">
    <script src="{% static "js/annotator/annotator.plugin.tags.js" %}"></script>
    <script src="{% static "js/select2/select2.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/select2/select2.min.css" %}">
    <script src="{% static "js/bootstrap/bootstrap.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/annotate.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.min.css" %}">
    <script src="{% static "js/annotate.js" %}"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Language Annotator</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<br/>
<br/>
<br/>
<br/>
<div class="container">

    <div class="border row row-eq-height">
        <div class="border col-md-6">
            <div class="inline-div">
                <label for="anotatedText">Annotate Text</label>
                <div class="well annotatedText pull-right">
                    <p id="annotatedText"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="checkbox">
        <label><input type="checkbox" id="areYouDoneChkBox" value="">Are you Done with Annotations ?</label>
    </div>

    <button type="button" class="btn btn-success" autocomplete="off" id="saveAnnotationBtn">Save</button>

    <div class="alert alert-success saveAnnotationAlert" id="saveAnnotation-alert">
        <strong>Annotation Saved</strong>
    </div>

</body>
</html>