{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{% static "js/underscore/underscore.js" %}"></script>
    <script src="{% static "js/annotator/utils.js" %}"></script>
    <script src="{% static "js/annotator/annotator-full.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/annotator/annotator.css" %}">
    <script src="{% static "js/annotator/annotator.plugin.tags.js" %}"></script>
    <script src="{% static "js/select2/select2.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/select2/select2.min.css" %}">
    <script src="{% static "js/bootstrap/bootstrap.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/annotate.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.min.css" %}">
    <script src="{% static "js/annotate.js" %}"></script>
    <script src="{% static "js/logout.js" %}"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Language Annotator</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../account/">Account<span class="sr-only">(current)</span></a></li>
                <li><a href="../login/" id="logout">Logout</a></li>
            </ul>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<br/>
<br/>
<br/>
<br/>
<div class="container">


    <div class="alert alert-danger error" id="error-alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Something went wrong. Please try again</strong>
    </div>

    <div class="border row row-eq-height">


        <div class="form-group select-language">
            <label for="sort" class="col-sm-3 control-label"> Select Language To Annotate: </label>
            <div class="col-sm-5">
                <select class="form-control " id="language-select" name="sort" id="sort">
                </select>
            </div>
            <i class="fa fa-spinner fa-spin loadingSpinner" id="loadingSelect" style="font-size:24px"></i>
        </div>


        <div class="border col-md-8 annotateTextWell">
            <div class="inline-div">
                <label for="anotatedText" class="annotateTextLabel">Annotate Text</label>
                <div class="well annotatedText  pull-right">
                    <p id="annotatedText"></p>
                    <h3 class="noResults" id="noResults" class="center">No results for this language. Please select
                        different language</h3>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Save Changes ?</h4>
                </div>
                <div class="modal-body">
                    <p><b>Please Save or Discard Changes before Changing Language</b></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger btn-md" autocomplete="off" id="modalNoBtn"><i class="fa fa-spinner fa-spin"></i> Discard
                    </button>
                    <button class="btn btn-success btn-md" autocomplete="off" id="modalYesBtn"><i class="fa fa-spinner fa-spin"></i> Save
                    </button>
                </div>
                <div class="alert alert-danger error modal-error" id="error-alert">
                    <strong>Something went wrong. Please try again</strong>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-success btn-md" id="saveAnnotation" autocomplete="off">Save</button>
    <div class="pull-right col-xs-6">
        <button class="btn btn-danger btn-md" id="skipDocument"> Skip Document
        </button>
        <button class="btn btn-success btn-md" id="nextDocument"> Next Document</button>
    </div>


    <div class="alert alert-success saveAnnotationAlert" id="saveAnnotation-alert">
        <strong>Annotation Saved</strong>
    </div>
</div>

</body>
</html>